body {  background-color: #000000; color: #CCCC99; margin: 0; }


    A         { color: #FFB019; font-weight: bold; }
    A:link    { color: #FFB019; font-weight: bold; }
    A:active  { color: #FFB019; font-weight: bold; }
    A:visited { color: #FFB019; font-weight: bold; }
    A:hover   { color: white;   font-weight: bold; }

    A.small:link    { color: #FFB019; font-weight: bold; font-size: 9px;}
    A.small:active  { color: #FFB019; font-weight: bold; font-size: 9px; }
    A.small:visited { color: #FFB019; font-weight: bold; font-size: 9px; }
    A.small:hover   { color: white;   font-weight: bold; font-size: 9px; }

    span { font-family: Arial,Helvetica,Sans-Serif; color: #CCC799; font-size: 10pt; }
    b { font-family: Arial,Helvetica,Sans-Serif; color: #ffffff; font-size: 9pt; font-weight: bold;}
    small { font-family: Arial,Helvetica,Sans-Serif; color: #CCC799; font-size: 8pt; }
    input.button 	{ background-color: transparent; border-style: none; }

    .error { color: #FF0000; font-weight: bold; }
